body{
    
    font-family: 'Poppins', sans-serif;
    margin: 50px;
    
}


.header{
    position: fixed;
    width: 100%;
    background-color: deeppink;
    background-image: linear-gradient(45deg, crimson, deeppink);
    height: 50px;
    font-size: large;
    font-family:cursive;
    color: white;
    font-weight: 1000;
    padding-left: 2%;
    float: left;
    padding-top: 1%;
    text-align:left;
}



#logo{
    text-align: center;
    font-family:cursive;
    color: white;
    
}
h1{
    font-size: 40px;
}

.name{
    

    font-size: 50px;
    color: crimson;
    animation: name 5s 5s infinite;
}
@keyframes name {
    from {color: red;}
  to {color: orange;}
  }


h3{
    font-size: 30px;
}
p{
    color: dimgrey;
}
.hire-me{
    text-decoration: none;
    background-image: linear-gradient(45deg, crimson, deeppink);
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 5px;
 
}
.cv{
    text-decoration: none;
    background-image: linear-gradient(45deg, crimson, deeppink);
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 5px;
 
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
    padding: 10%;
}

.top-banner{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
}
.biography{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
}

section{
    height: 500px;
    padding-bottom: 150px;
}

#biography-id{
    padding-top: 15%;
}


.latest-work{
    margin-top: 180px;
    background-image: url("images/latest-work-bg.png");
}

.works img{
    width: 30%;
    float: left;
    padding-left: 2%;
}


.mail {
    color: white;
    width: 30%;
    background-image: linear-gradient(crimson, deeppink);
    border-radius: 25px;
    padding: 10px 20px;
    margin-top: 0px; 
    text-align: center;
    padding: 10px;
    box-shadow: 5px 10px 5px 5px rgb(206, 79, 153);
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 50px;
}
.mail p{
    text-align: center;
}

footer p{
    text-align: center;
    font-size: 12px;
    color: black;
    font-variant:small-caps;
}